* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #FFCAD4;
}

header {
    background-color: #ffe5d9;
    font-family: 標楷體;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

nav {
    padding: 0px;
    font-family: Comic Sans MS;
    font-size: 25px;
    text-align: left;
}

nav a {
    padding: 10px 25px;
    display: inline-block;
    color: #d0a3e3;
}

article {
    margin: 100px;
    padding: 50px 30px;
}

aside {
    margin: 100px;
    padding: 50px 30px;
    text-align: center;
}

div {
    font-family: 微軟正黑體;
    color: #7c5c89;
    font-weight: bolder;
}

h2 {
    text-align: center;
    color: #7a5b1d;
    font-family: 標楷體;
}

h1{
    text-align: center;
    color: rgb(251, 114, 114);
    font-size: 50px;
}

footer {
    background-color: #9D8189;
    text-align: center;
    color: #FFE5EC;
    padding: 20px;
}

button{
    width: 250px;
    height: 50px;
    color: rgb(140, 124, 243));
}

label {
    font: 1rem 'Fira Sans', sans-serif;
    color: rgb(10, 12, 69);
    white-space: nowrap;
    font-family: 標楷體;
    font-weight: bolder;
}

input,
label {
    margin: 0.4rem 0;
}

block {
    text-align: center;
    color: #7c5c89;
    background-color:#ffe5d9;
    vertical-align: middle;
    font-family: 微軟正黑體;
    font-weight: 400;
}

.clearfix {
    clear: both;
}